* {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

body {
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

#top-bar {
    
    background-color: lightgray;
    padding: 5px;
    
}

h1 {
    
    margin: 0;
    display: inline-block;
    
}

main {
    
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-grow: 1;
    
}

.panel {
    
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    
}

#tab-toggle-wrapper {
    
    margin: 0 0 0 100px;
    display: inline-block;
    position: relative;
    bottom: 4px;
    
}

textarea,
#output-panel div {
    
    width: 100%;
    resize: none;
    flex-grow: 1;
    padding: 5px;
    border: 1px solid lightgrey;
    color: black;
    font-size: 1.2rem;
    font-family: monospace;
    
}