* {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

body {
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

#top-bar {
    
    background-color: lightgray;
    padding: 5px;
    display: flex;
    
}

#logo-container {
    
    margin: 0;
    
}

#spacer {
    
    width: 176px;
    
}

main {
    
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-grow: 1;
    
}

.panel {
    
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    
}

#tab-toggle-wrapper {
    
    width: 320px;
    min-width: 320px;
    margin: 0 auto;
    position: relative;
    top: 2px;
    
}

textarea,
iframe {
    
    width: 100%;
    resize: none;
    flex-grow: 1;
    padding: 5px;
    border: 1px solid lightgrey;
    color: black;
    font-size: 1.1rem;
    font-family: monospace;
    
}